@media screen and (max-width:480px) {


    body {
        padding: 0px;
        margin: 0px;
    }

    header {
        border: none;
        padding: 1em 1em 0px 1em;
    }

    .header__link {
        display: none;
    }

    .avatar__image {
        margin-left: 25%;
        margin-right: 1em;
    }

    .main__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .description__container {
        margin: 0px;
        margin-top: -2em;
        padding: 0px 1em;
    }

    .images__container {
        position: relative;
        width: 100%;
    }

    .main-image, .images__container img {
        margin: 1em 0px;
        max-width: 100%;
        height: auto;
        border-radius: 0px;
    }

    .back-button__container, .next-button__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .back__button, .next__button  {
        display: block;
        position: absolute;
        z-index: 1;
        height: 30px !important;
        background-size: contain;
        border-radius: 5em !important;
    }

    .back__button {
        left: 1%;
    }

    .next__button {
        right: 4%;
    }

    .carousel__container {
        display: none;
    }
    
    .product__price {
        display: flex;
        align-items: center;
        padding: 0px 5%;
        justify-content: space-between;
    }

    .product-normal-price {
        margin: 0px;
    }

    .add-to-cart__container {
        grid-template-columns: 1fr;
    }

    .menu__icon {
        display: block;
        padding-right: 10%;
    }

    .open-cart__container {
        width: 60vw;
        margin-right: 22vw;
    }

    .hamburger-menu__container {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 3;
        background-color: white;
        height: 105vh;
        width:55vw;
        padding: 5vh 5vw 0px 5vw;
    }

    .close-image {
        margin-top: -5vh;
        margin-bottom: 5vh;
        width: 10%;
    }

    .hamburger-menu__container a {
        text-decoration: none;
        color: var(--Black);
        font-weight: bold;
        font-size: 20px;
        padding: 2vh 0px;
    }

}

@media screen and (max-width:375px) {
    .back__button, .next__button {
        top: 25%;
    }

    .open-cart__container {
        margin-right: 25vw;
    }
    
    .hamburger-menu__container {
        height: 100vh;
    }
}

@media screen and (max-width:320px) {

    .back__button,
    .next__button {
        top: 23%;
    }

    .open-cart__container {
        width: 84vw;
        margin-right: 25vw;
    }
}