@media screen and (max-width:480px) {

    body {
        padding: 0px;
        margin: 0px;
    }

    header {
        border: none;
        padding: 1em 1em 0px 1em;
    }

    .header__link {
        display: none;
    }

    .avatar__image {
        margin-left: 25%;
        margin-right: 1em;
    }

    .main__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .description__container {
        margin: 0px;
        margin-top: -2em;
        padding: 0px 1em;
    }

    .images__container {
        width: 100%;
    }

    .main-image, .images__container img {
        margin: 1em 0px;
        max-width: 100%;
        height: auto;
        border-radius: 0px;
    }

    
    .back__button, .next__button  {
        display: block;
        position: absolute;
        z-index: 1;
        height: 30px !important;
        top: 30%;
        background: #fff;
        background-size: contain;
        border-radius: 5em !important;
    }

    .back__button {
        left: 4%;
    }

    .next__button {
        right: 4%;
    }

    .carousel__container {
        display: none;
    }
    
    .product__price {
        display: flex;
        align-items: center;
        padding: 0px 5%;
        justify-content: space-between;
    }

    .product-normal-price {
        margin: 0px;
    }

    .add-to-cart__container {
        grid-template-columns: 1fr;
    }
    
    .menu__icon {
        display: block;
        padding-right: 10%;
    }
}

@media screen and (max-width:375px) {
    .back__button, .next__button {
        top: 25%;
    }
}

@media screen and (max-width:320px) {

    .back__button,
    .next__button {
        top: 23%;
    }
}