:root {
    --primary-orange: hsl(26, 100%, 55%);
    --secondary--pale-orange: hsl(25, 100%, 94%);
    --dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%); /* (with 75% opacity for lightbox background): */
}


* {
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    padding: 2em 8%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2em;
    border-bottom: 1px solid var(--Grayish-blue);
}

.hidden {
    display: none !important;
}

.header__section1, .header__section2 {
    display: flex;
    align-items: center;
}

.menu__icon {
    display: none;
}

.logo {
    margin-right: 1.5em;
}

.header__link {
    color: var(--Black);
    margin: 0px 1em;
    text-decoration: none;
}


.quantity-cart__container {
    position: relative;
}

.cart__quantity {
    color: var(--White);
    background-color: var(--primary-orange);
    border-radius: 25px;
    margin: 0px;
    position: absolute;
    right: -10px;
    z-index: 1;
    width: 95%;
    bottom: -0.75em;
    height: 1.10em;
    font-size: 16px;
}

.open-cart__container {
    display: grid;
    grid-template-rows: 25% 1fr;
    background-color: var(--White);
    box-shadow: 0px 19px 20px 1px rgb(0 0 0 / 27%);
    position: absolute;
    height: 14em;
    width: 20em;
    margin-top: 170%;
    right: -600%;
    margin-right: 5vw;
    padding: 1em 1.5em;
    z-index: 2;
}

.cart {
    width: 100%;
    padding-bottom: 2em;
    border-bottom: 1px solid var(--Grayish-blue);
}

.cart-content--empty {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    height: auto;
}

.cart-content--empty p {
    color: var(--Dark-grayish-blue);
}

.cart-content--filled {
    padding: 1em 0px 0.5em 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 1fr;
    justify-items: center;
    height: 90%;
}

.checkout--button {
    color: var(--White);
    background-color: var(--primary-orange);
    border-radius: 1em;
    border: none;
    margin-top: -1em;
    width: 90%;
    height: 50%;
}


.cart-content {
    height: 50%;
    width: 110%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
}

.cart__content--image {
    height: 85%;
    border-radius: 0.5em;
}

.cart__content--price, .cart__content--price2 {
    display: inline;
}

.cart__content--price, .cart__content--title {
    color: var(--Grayish-blue);
}

.cart__content--description {
    padding-top: 0.5em;
    height: 100%;
}

.cart__content--title {
    margin: 0px;
    padding: 0px;
}

.cart__image {
    position: relative;
    height: 24px;
}

.avatar__image {
    height: 3em;
    margin-left: 2.75em;
}

.main__container {
    padding: 6em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.images__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images__container img, .carousel__container img {
    border-radius: 15px;
}




.main-image {
    position: relative;
    height: 26em;
    margin-bottom: 2em;
}

.back__button, .next__button {
    display: none;
}

.carousel__container {
    display: grid;
    gap: 1.5em;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.min-image {
    height: 5.5em;
}

.description__container {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.brand__name, .product__name, .product__description, .product-normal-price, .product-discount {
    margin: 0.5em 0px;
}

.brand__name {
    color: var(--primary-orange);
}

.product__name {
    font-size: 40px;
    font-weight: 700;
}

.first-line__price-container {
    display: flex;
    align-items: center;
}

.product-actual-price {
    margin-right: 0.5em;
}

.product-discount__container {
    display: flex;
    justify-content: center;
    background-color: var(--secondary--pale-orange);
}


.product-discount {
    width: 3em;
    border-radius: 0.30em;
    color: var(--primary-orange);
    background-color: var(--secondary--pale-orange);

}

.product-normal-price {
    text-decoration: line-through;
    margin-top: -1em;
    margin-bottom: 2em;
    color: var(--Grayish-blue);
}

.add-to-cart__main-container {
    display: flex;
    justify-content: center;
}

.add-to-cart__container {
    width: 90%;
    height: 3em;
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 1em;
}

.quantity__container, .add-to-cart--botton {
    height: inherit;
    font-size: 11px;
    border-radius: 1em;
}

.quantity__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 1em;
    align-items: center;
    background-color: var(--Light-grayish-blue);
}

.minus__image, .plus__image, .cart__image, .add-to-cart--botton:hover {
    cursor: pointer;
}

.minus__image {
    width: 1em;
}

.plus__image {
    width: 0.8em;
}

.add-to-cart--botton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-orange);
}
.add-to-cart--botton img {
    padding-right: 1em;
    width: 1.5em;
}


.add-to-cart--botton h3 {
    color: var(--White);
}

